.footable {
  border-collapse: separate;
  border-spacing: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  color: #444444;
  background: #ffffff;
  margin-bottom: 0px;
  border: 1px solid #CCC;
}
.footable > thead > tr:first-child > th.footable-first-column,
.footable > thead > tr:first-child > td.footable-first-column {
  }
.footable > thead > tr:first-child > th.footable-last-column,
.footable > thead > tr:first-child > td.footable-last-column {
}
.footable > thead > tr:first-child > th.footable-first-column.footable-last-column,
.footable > thead > tr:first-child > td.footable-first-column.footable-last-column {
}
.footable > thead > tr > th:first-child  {
  border-left: 0px solid #cccccc;
}
.footable > thead > tr > th {
  border-left: 1px solid #cccccc;
  border-top: 1px solid #cccccc;
  padding: 8px;
  text-align: center;
  color: #fff;
  font-weight: normal;
}
.footable > thead > tr > th,
.footable > thead > tr > td {
  background-color: rgba(0, 0, 153, 0.68);
  border-top: none;
}
.footable > thead > tr > th.footable-first-column,
.footable > thead > tr > td.footable-first-column {
  border-left: none;
}
.footable.breakpoint > tbody > tr.footable-row-detail {
  background: #eeeeee;
}
.footable.breakpoint > tbody > tr.footable-row-detail > .footable-row-detail-cell {
  border-left: none;
}
.footable > tbody img {
  vertical-align: middle;
}
.footable > tbody > tr:hover {
  background: #D0D1CF;
}
.footable > tbody > tr:last-child > td.footable-first-column {
}
.footable > tbody > tr:last-child > td.footable-last-column {
}
.footable > tbody > tr:last-child > td.footable-first-column.footable-last-column {
}
.footable > tbody > tr > td {
  border-top: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  padding: 7px;
  text-align: left;
}
.footable > tbody > tr > td.footable-first-column {
  border-left: none;
}
.footable > tfoot > tr > th,
.footable > tfoot > tr > td {
  background-color: #dce9f9;
  border-top: 1px solid #cccccc;
  padding: 9px;
}
.footable .pagination {
  margin: 20px 0;
}
.footable .pagination > ul {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #dce9f9;
}
.footable .pagination > ul > li {
  display: inline;
}
.footable .pagination > ul > li > a {
	color: #000
}

.footable .pagination > ul > li > a:hover {
	color: #fff;
	background: rgba(0, 0, 153, 0.68) !important;
}
.footable .pagination > ul > li > span:hover {
	
}


.footable .pagination > ul > li > a,
.footable .pagination > ul > li > span {
  float: left;
  padding: 4px 12px;
  line-height: 20px;
  text-decoration: none;
  border: 1px solid #ccc;
  border-left-width: 0;
  background: #fff;
}
.footable .pagination > ul > li:first-child > a,
.footable .pagination > ul > li:first-child > span {
  border-left-width: 1px;
}
.footable .pagination > ul > li:last-child > a,
.footable .pagination > ul > li:last-child > span {
  background: #fff;
}
.footable .pagination > ul > li > a:hover,
.footable .pagination > ul > li > a:focus,
.footable .pagination > ul > .active > a,
.footable .pagination > ul > .active > span {
  background-color: #eeeeee;
}
.footable .pagination > ul > .active > a,
.footable .pagination > ul > .active > span {
  color: #444444;
  cursor: default;
}
.footable .pagination > ul > .disabled > span,
.footable .pagination > ul > .disabled > a,
.footable .pagination > ul > .disabled > a:hover,
.footable .pagination > ul > .disabled > a:focus {
  color: #cccccc !important;
  cursor: default;
  background-color: #ebf3fc !important;
}
.footable .pagination.pagination-centered {
  text-align: center;
}
.footable .pagination.pagination-right {
  text-align: center;
}
.footable-odd {
  background-color: #f7f7f7;
}
