/* Responsive Tabs - menucool.com/jquery-tabs */

.rowtop {
	padding-top: 10px !important;
}

ul.rtabs
{
    text-align:left; /*set to left, center, or right to align the tabs as desired*/
    font-size:0; 
    margin:0;
    padding:0; 	
    list-style-type:none;
	background: #e4e4e4;
}
        
ul.rtabs li
{
    margin:0;
    margin-right:1px; /*gap between tabs. Set it to -1px for no gap.*/
    padding:0;
    display:inline;
}
        
ul.rtabs li a
{
    padding:0 8px; /* It determines tab width */
    display:inline-block;    
    font-weight:normal;
    font-size:12px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height:32px;/* height of tabs */
    text-decoration: none;
    color:#FFF;
    background: #fff;
    outline:none;
    border:1px solid #c0c0c0;
    border-bottom:none;
    border-radius:5px 5px 0 0;
    position:relative;    
}
        
ul.rtabs li a:link, ul.rtabs li a:visited
{
    color:#333;
}
        
ul.rtabs li a:hover
{
    border-color: transparent;
    background: #007fff;
    color:#FFF;
}
  
/*selected tab style */
ul.rtabs li.selected a
{
    color:#FFF;
    background: rgba(0, 0, 153, 0.68);
    z-index:3;
} 
        
/*selected tab style on hover */
ul.rtabs li.selected a:hover
{
    text-decoration:none;
    
}

/* container of content panels */
.inner {
	border: 1px solid #CCC !important;}

div.panel-container
{
    border:none;
    border-radius:0px; 
    background-color:white; /*color #2*/
    position:relative;    
    outline:none;
}

/* content panel */       
div.panel-container > div
{
    
    /* The two settings below should not be changed. */
    display: block;
    margin:0px;
} 
div.panel-container div.inactive
{
    display: none;
}    

/* loading image before ajax content is retrieved. Only applicable when Ajax is used.*/
div.ajaxLoading {background:transparent url(loading.gif) no-repeat center center; height:150px; width:20px; font-size:0;padding:0; margin:0 auto; }


/* For mobiles */
@media only screen and (max-width:560px){
    div.container {
		padding-left: 0px;
		padding-right: 0px;
	}
	nav.navbar {
		padding-left: 20px;
		padding-right: 8px;
	}
	
	ul.rtabs{
        padding-left:0;
		padding-top:0px;
        box-sizing:border-box;
        border-left:1px solid #ccc;
        border-top:1px solid #ccc;
        min-width:120px;
		margin-bottom: 6px;
    }

    ul.rtabs li{
        display:inline-block;
        box-sizing:border-box;
        margin-right:0;
        width:50%; /* set it to 100% for one column, 33.33% for three-column */
    }

    ul.rtabs li:last-child:nth-child(odd){
        width:100%;
    }

    ul.rtabs li a {
        background-color:#eee;
        border-top:none;
        border-left:none;
        border-right:1px solid #ccc;
        border-bottom:1px solid #ccc;
        display:block;
        padding:0;
        text-align:center;
        border-radius:0;
    }

    ul.rtabs li a:hover {
        border-color: #ccc;
		background: #007fff;
    }

    ul.rtabs li.selected a {
       background: #007fff;
    }

    div.panel-container {
        border-radius:0;
        min-width:120px;
        box-sizing:border-box;
        width:auto;
    }
}